@import "@/assets/scss/variable";

.main-footer {
  margin-top: 20px;
  padding: 20px 0;

  background-color: darken($color-white, 10%);
}

.main-footer .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.main-footer__author {
  color: #333;
  font-weight: bold;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.main-footer__author span {
  color: #ee1b24;
}
