@import "@/assets/scss/variable";
@import "@/assets/scss/mixin";

.card-list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card-list__item {
  width: calc(100% / 3 - 20px);
}

@media screen and (max-width: 1170px) {
  .card-list__item {
    width: calc(100% / 2 - 15px);
  }
}

@media screen and (max-width: 768px) {
  .card-list__item {
    width: 100%;
  }
}
